@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==================== GENERALES ==================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 90px; /* Evita que el menú fijo (sticky) oculte el principio de las secciones al hacer scroll */
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fdfbf7;
    color: #232323;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfbf7;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Mantiene el menú siempre por encima de los demás elementos al hacer scroll */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px
}
.logo img {
    width: 100px;
}
.logo p {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d97450;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}
a {
    text-decoration: none;
    color: #232323;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    transition: color 0.3s ease; /*cambio de color suave al hover*/
}
a:hover {
    color: #d97450;
}
