@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 90px; /* Evita que el menú fijo (sticky) oculte el principio de las secciones al hacer scroll */
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fdfbf7;
    color: #232323;
}

/* ==================== HEADER ==================== */
header {
    display: flex;
    flex-direction: column; /* mobile first */
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: #fdfbf7;
    position: sticky;
    top: 0;
    z-index: 1000; /* Mantiene el menú siempre por encima de los demás elementos al hacer scroll */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}
.logo img {
    width: 100px;
}
.logo p {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d97450;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #232323;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: color 0.3s ease; /*cambio de color suave al hover*/
}
a:hover {
    color: #d97450;
}

/* ==================== SECCIÓN HERO ==================== */
.hero {
    /* filtro oscuro para el texto para que se lea bien */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("/img/choix3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Mobile first */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenido-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero h1 {
    font-family: "Playfair Display SC", serif;
    color: #fdfbf7;
    font-size: 35px;
}

.hero p {
    color: #fdfbf7;
    max-width: 700px;
    font-size: 16px;
    font-weight: 350;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #d97450;
    color: #fdfbf7 !important; /*forzar el color del texto con important*/
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    box-shadow: 0 10px 15px rgba(217, 116, 80, 0.3);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.btn:hover {
    background-color: #b85c3b;
    transform: translateY(-3px);
}
/* ==================== SECCIÓN COLECCIONES ==================== */
#colecciones {
    padding: 60px 20px;
    text-align: center;
    background-color: #fdfbf7;
}

.titulo-colecciones {
    font-family: "Playfair Display SC", serif;
    font-size: 32px;
    color: #d97450;
    margin-bottom: 10px;
}

.subtitulo-colecciones {
    font-size: 16px;
    color: #666666;
    margin-bottom: 40px;
}

/* titulos de categorias */
.banner-categoria {
    text-align: left;
    margin: 40px 0 20px 0;
    border-bottom: 2px solid #d97450;
    padding-bottom: 8px;
}

.banner-categoria h2 {
    font-family: "Playfair Display SC", serif;
    font-size: 24px;
    color: #4a3b32;
}

.galeria-productos {
    display: grid;
    grid-template-columns: 1fr; /* mobile first */
    gap: 30px;
    padding: 10px 0;
}

.caja-producto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    margin: 0 auto;
    transition:transform 0.3s ease,
                box-shadow 0.3s ease;
}

.caja-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(217, 116, 80, 0.15);
}

.producto-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.producto-titulo {
    font-size: 18px;
    color: #d97450;
    margin: 15px 0 5px 0;
}

.producto-precio {
    font-size: 16px;
    font-weight: bold;
    color: #4a3b32;
}

.producto-descripcion {
    height: auto;
    overflow: hidden;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

/* ==================== RESPONSIVE DESIGN ==================== */
/*header responsive*/
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
    }

    nav ul {
        gap: 30px;
        font-size: 16px;
    }

    /*hero responsive*/
    .hero {
        height: 85vh;
    }

    .hero h1 {
        font-size: 56px;
        line-height: 65px;
    }

    .hero p {
        font-size: 19px;
        line-height: 30px;
    }

    /* colecciones responsive */
    .banner-categoria h2 {
        font-size: 28px;
    }

    .galeria-productos {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .caja-producto {
        max-width: none;
        margin: 0;
    }
    .producto-descripcion {
        height: 0;
        margin-top: 0;
        overflow: hidden;
        transition:
            height 0.4s ease,
            margin-top 0.4s ease;
    }

    .caja-producto:hover .producto-descripcion {
        height: 60px;
        margin-top: 12px;
    }
}
